@import "../../styles/_vars.scss";

.scroller {
  position: relative;
  height: 100vh;
  height: var(--doc-height);
  max-height: 100vh;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
  }
  
  .scroller__viewport {
    transition: transform 600ms ease;
  }

  .scroller__item {
    transform: translateY(0px);
    transition: transform 600ms ease;
    pointer-events: all;
  }
  
  .scroller__item--previous {
    // transform: translateY(100vh);
    transform: translateY(var(--doc-height));
  }